<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lorem Ipsum</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

</head>

<body>
    <header class="header">
        <a class="header__logo" href="index.html">Название</a>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__item-link" href="#">ГЛАВНАЯ</a></li>
                <li class="nav__item"><a class="nav__item-link" href="#">ПОРТФОЛИО</a></li>
                <li class="nav__item"><a class="nav__item-link" href="#">ЦЕНЫ</a></li>
                <li class="nav__item"><a class="nav__item-link" href="#">МАГАЗИН</a></li>
                <li class="nav__item"><a class="nav__item-link" href="#">УРОКИ</a></li>
                <li class="nav__item"><a class="nav__item-link" href="#">КОНТАКТЫ</a></li>
            </ul>
        </nav>
        <div class="header__wrap-btn">
            <button type="submit" class="header__btn">Оставить заявку</button>
        </div>
    </header>
    <main>
        <section class="info">
            <div class="info__slider">
                <div class="info__slider__item-1">
                    <div class="info__content">
                        <h1 class="info__heading">Lorem Ipsum</h1>
                        <p class="info__description">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat ...</p>
                        <button class="info__btn" type="button">Хочу заказать</button>
                    </div>
                </div>
                <div class="info__slider__item-2">
                    <div class="info__content">
                        <h1 class="info__heading">Lorem Ipsum</h1>
                        <p class="info__description">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat ...</p>
                        <button class="info__btn" type="button">Хочу заказать</button>
                    </div>
                </div>
                <div class="info__slider__item-3">
                    <div class="info__content">
                        <h1 class="info__heading">Lorem Ipsum</h1>
                        <p class="info__description">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat ...</p>
                        <button class="info__btn" type="button">Хочу заказать</button>
                    </div>
                </div>
                <div class="info__slider__item-4">
                    <div class="info__content">
                        <h1 class="info__heading">Lorem Ipsum</h1>
                        <p class="info__description">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat ...</p>
                        <button class="info__btn" type="button">Хочу заказать</button>
                    </div>
                </div>
                <div class="info__slider__item-5">
                    <div class="info__content">
                        <h1 class="info__heading">Lorem Ipsum</h1>
                        <p class="info__description">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            dolore magna aliquam erat ...</p>
                        <button class="info__btn" type="button">Хочу заказать</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="galery__post">
                <div class="gallery__signature">
                    <p class="signature">Здесь тоже можно что то написать</p>
                </div>
                <div class="gallery__img">
                    <img class="gallery__image" src="../img/photo_2019-10-21_20-47-21.jpg" width="465.9" height="589.7"
                        alt="рисунок девушки">
                </div>
                <div class="gallery__description">
                    <h2 class="gallery__heading">Hello!</h2>
                    <p class="gallery__info">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat ...</p>
                    <p class="gallery__info">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat ...</p>
                    <p class="gallery__info">Lorem ipsum — dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat ...Lorem
                        ipsum — dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat ...Lorem
                        ipsum — dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat ...</p>
                </div>
            </div>
            <div class="gallery__other">
                <div class="gallery__item post">
                    <div class="gallery__signature-wrap">
                        <p class="post__signature">Можно что-то написать</p>
                    </div>
                    <div class="post__img">
                        <img src="../img/photo_2019-10-21_20-48-43.jpg" width="295" height="289" alt="рисунок девушки">
                    </div>
                    <h3 class="post__info">Стиль</h3>
                </div>
                <div class="gallery__item post">
                    <div class="gallery__signature-wrap">
                        <p class="post__signature">Можно что то написать</p>
                    </div>
                    <div class="post__img">
                        <img src="../img/photo_2019-10-21_20-48-43.jpg" width="295" height="289" alt="рисунок девушки">
                    </div>
                    <h3 class="post__info">Стиль</h3>
                </div>
                <div class="gallery__item post">
                    <div class="gallery__signature-wrap">
                        <p class="post__signature">Можно что то написать</p>
                    </div>
                    <div class="post__img">
                        <img src="../img/photo_2019-10-21_20-48-43.jpg" width="295" height="289" alt="рисунок девушки">
                    </div>
                    <h3 class="post__info">Стиль</h3>
                </div>
                <div class="gallery__item post">
                    <div class="gallery__signature-wrap">
                        <p class="post__signature">Можно что-то написать</p>
                    </div>
                    <div class="post__img">
                        <img src="../img/photo_2019-10-21_20-48-43.jpg" width="295" height="289" alt="рисунок девушки">
                    </div>
                    <h3 class="post__info">Стиль</h3>
                </div>
                <div class="gallery__item post">
                    <div class="gallery__signature-wrap">
                        <p class="post__signature">Можно что то написать</p>
                    </div>
                    <div class="post__img">
                        <img src="../img/photo_2019-10-21_20-48-43.jpg" width="295" height="289" alt="рисунок девушки">
                    </div>
                    <h3 class="post__info">Стиль</h3>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.info__slider').slick({
                dots: true,
                arrows: false,
            });
        });
    </script>
</body>

</html>